@import '../../../styles/typography';
@import '../../../styles/colors';
@import '../../../styles/z-index';
@import '../../../styles/mediaQueries';

.proman {
    overflow: hidden;
    position: relative;

    &-main {
        margin: 0 auto;
        padding: 25px 38px;
        padding-bottom: 0px;
        max-width: 450px;

        @include for-desktop {
            margin: 0;
            padding-left: 102px;
            padding-right: 100px;
            max-width: 755px;
        }

        @include for-large-desktop {
            margin: 0 auto;
            @include max-width-for-large-desktop;
        }

        &-title {
            @include lg-title__mobile;

            @include for-desktop {
                @include lg-title;
                max-width: 900px;
            }
        }

        &-content {
            width: 90%;
            padding-top: 15px;
            @include content-regular;
            font-size: 12px;
            font-weight: 500;
            &:nth-child(3) {
                padding-top: 15px;
            }
            &:nth-child(4) {
                padding-top: 15px;
            }

            @include for-desktop {
                font-size: 14px;
                font-weight: 600;
                max-width: 630px;
            }
        }
    }
    
    &-list {
        margin: 0 auto;
        padding: 34px 38px;
        padding-bottom: 0px;
        max-width: 450px;

        @include for-desktop {
            margin: 0;
            padding-left: 102px;
            padding-right: 100px;
            max-width: 755px;

            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
            // TODO: inperfect behaviour of list's elements
        }

        @include for-large-desktop {
            margin: 0 auto;
            @include max-width-for-large-desktop;
        }

        .card {
            @include for-desktop{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding-right: 10px;
            }

            .circle-title {
                text-align: center;
                @include md-content;
                padding-bottom: 10px;

                @include for-desktop {
                    text-align: start;
                }
            }
    
            .circle {
                margin: 0px auto 27px;
                max-width: 350px;
                height: 154px;
                border-radius: 80px;
                background-color: map-get($colors, violet );
                display: flex;
                justify-content: center;
                align-items: center;
    
                @include for-desktop {
                    height: 126px;
                    width: 438px;
                    max-width: 438px;
                }
    
                &-content {
                    @include md-content;
                    font-weight: 500;
                    padding-inline: 30px;
                    text-align: center;
                    color: map-get($colors, beige );

                    @include for-desktop {
                        padding-inline: 45px;
                    }
                }
            }
        }
    }
}