@import '../../styles/typography';
@import '../../styles/colors';
@import '../../styles/z-index';
@import '../../styles/mixins';

.about {
    .bio {
        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .bio-title {
                padding-top: 25px;
                &__element {
                    @include lg-title__mobile;
                }
            }

            .bio-photo {
                padding-top: 8px;
                img {
                    width: 281px;
                    height: 281px;
                }
            }

            .bio-content-element {
                padding-top: 29px;
                padding-inline: 60px;
                max-width: 350px;

                p {
                    @include md-content;
                    font-weight: 500;
                    text-align: center;
                    
                    &:nth-child(2) {
                        padding-top: 15px;
                    }
                }

            }

            .bio-content-mission {
                padding-top: 25px;

                h4 {
                    text-align: center;
                }

                .mission-rect {
                    margin-top: 8px;
                    width: 253px;
                    height: 119px;
                    border-radius: 54px;
                    background-color: map-get($colors, orange);
                    display: flex;
                    align-items: center;

                    &-text {
                        text-align: center;
                        padding-inline: 15px;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 18px;
                    }
                }
            }

            .bio-content-vision {
                padding-top: 45px;

                h4 {
                    text-align: center;
                }

                .vision-rect {
                    margin-top: 8px;
                    width: 253px;
                    height: 119px;
                    border-radius: 54px;
                    background-color: map-get($colors, orange);
                    display: flex;
                    align-items: center;

                    &-text {
                        text-align: center;
                        margin: 0 auto;
                        padding-inline: 15px;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 18px;
                    }
                }
            }
        }
    }
}