@import '../../../styles/typography';
@import '../../../styles/colors';
@import '../../../styles/z-index';
@import '../../../styles/mediaQueries';

.new-biz {
    overflow: hidden;
    position: relative;

    .main-container {
        margin: 0 auto;
        padding-inline: 38px;
        max-width: 450px;

        @include for-desktop {
            margin: 0;
            padding-left: 102px;
            max-width: 755px;
            position: relative;
        }

        @include for-large-desktop {
            margin: 0 auto;
            @include max-width-for-large-desktop;
        }

        .title {
            @include lg-title__mobile;
            padding-top: 25px;
            width: 185px;

            @include for-desktop {
                @include lg-title;
                font-size: 45px;
                width: 345px;
            }

            @include for-large-desktop {
                font-size: 68px;
                width: 545px;
            }
        }

        .rectangle-container {
            display: flex;
            justify-content: flex-end;

            @include for-desktop {
                position: absolute;
                top: 0px;
                right: 10px;
            }

            .rectangle {
                margin-top: 15px;
                width: 225px;
                height: 225px;
                border-radius: 50%;
                background-color: map-get($colors, orange );
                display: flex;
                align-items: center;

                @include for-desktop {
                    width: 350px;
                    height: 350px;
                }

                @include for-large-desktop {
                    width: 429px;
                    height: 429px;
                }
    
                &-content {
                    text-align: center;
                    padding: 30px;
                    color: map-get($colors, gray );
                    @include md-content;
                    font-weight: 600;

                    @include for-desktop {
                        @include lg-content;
                        font-weight: 600;
                        max-width: 315px;
                        margin: 0 auto;
                    }
                }
            }  
        }

        .text {  
            margin: 0 auto;
            padding-inline: 38px;
            max-width: 450px;

            @include for-desktop {
                margin: 0;
                padding-top: 173px;
                padding-left: 0px;
                max-width: 915px;
            }

            @include for-large-desktop {
                margin: 0 auto;
            }
            
            &-one {
                @include md-content;
                font-weight: 500;
                padding-top: 31px;

                @include for-desktop {
                    max-width: 620px;
                }
            }

            &-two {
                @include md-content;
                font-weight: 500;
                padding-top: 15px;
                padding-left: 60px;

                @include for-desktop {
                    padding-left: 158px;
                    max-width: 620px;
                }
            }
        }
    }

    .desc {
        margin: 0 auto;
        padding-inline: 38px;
        max-width: 450px;

        @include for-desktop {
            margin: 0;
            padding-left: 102px;
            max-width: 755px;
        }

        @include for-large-desktop {
            margin: 0 auto;
            @include max-width-for-large-desktop;
        }

        &-title {
            padding-top: 30px;
            @include md-title__mobile;
            font-weight: 600;

            @include for-desktop {
                @include md-title;
                font-weight: 600;
                max-width: 584px;
            }
        }

        &-subtitle {
            @include md-content;
            font-weight: 500;
            padding-top: 10px;

            @include for-desktop {
                max-width: 450px;
            }
        }

        .inforgraphic-container {
            padding-top: 15px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

            @include for-desktop {
                justify-content: space-around;
            }

            .graf-card {
                padding-top: 21px;
                padding-right: 20px;
                width: 126px;

                @include for-desktop {
                    padding-top: 60px;
                    width: 254px;
                    // padding-inline: 34px;
                }

                .graf-rect {
                    width: 126px;
                    height: 126px;
                    border-radius: 50%;
                    background-color: map-get($colors, violet );
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include for-desktop {
                        width: 254px;
                        height: 254px;
                    }

                    img {
                        scale: 0.5;
                    }
                }
                
                .graf-text {
                    @include md-content;
                    text-align: center;
                    font-weight: 500;
                    padding-top: 10px;
                }
            }
        }
    }

    .report {
        margin: 0 auto;
        padding: 0px 38px 70px;
        max-width: 450px;

        @include for-desktop {
            margin: 0;
            padding-left: 102px;
            max-width: 755px;
        }

        @include for-large-desktop {
            margin: 0 auto;
            @include max-width-for-large-desktop;
        }

        &-title {
            padding-top: 55px;
            @include md-title__mobile;
            font-weight: 600;

            @include for-desktop {
                @include md-title;
                font-weight: 600;
                max-width: 554px;
            }
        }

        .subtitle-one, .subtitle-two {
            display: flex;
            flex-direction: row;
            padding-top: 20px;

            @include for-desktop {
                padding-left: 78px;
            }

            p {
                @include md-content;
                padding-top: 8px;
                font-weight: 600;
            }
        }

        .nested-subtitle {
            @include md-content;
            font-weight: 500;
            padding-left: 50px;
            padding-top: 15px;

            @include for-desktop {
                padding-left: 160px;
                padding-bottom: 20px;
            }
        }

        .list-one, .list-two, .list-three {
            padding-top: 21px;
            padding-left: 100px;

            @include for-desktop {
                padding-top: 0px;
                padding-left: 198px;
            }

            ul {
                list-style: circle;
                list-style-type: disc;
                li {
                    @include md-content;
                    font-weight: 500;
                }
            }
        }
    }
}