@import '../../styles/typography';
@import '../../styles/colors';


.home {
    padding-top: 114px;
    width: 100%;
    position: relative;

    &-content {
        padding: 0px 0px 0px 38px;
        width: 251px;
    
        &__element {
            @include md-content;
            font-size: 20px;
        } 
    }

    &-circle__violet,
    &-circle__violet__second,
    &-circle__orange {
        overflow: hidden;
        width: 279px;
        height: 279px;
        border-radius: 50%;
    }

    &-circle__violet {
        position: absolute;
        top: 86px;
        left: 270px;
        background-color: map-get($colors , violet );
    }

    .home-circle__violet__second {
        position: absolute;
        top: 326px;
        right: 94%;
        background-color: map-get($colors , violet );
    }

    &-circle__orange {
        margin: 0 auto;
        margin-top: 30px;
        background-color: map-get($colors , orange );
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            @include md-content;
            font-size: 26px;
            text-align: center;
            padding-inline: 35px;
            color: map-get($colors, beige );
        }
    }

    &-quote {
        padding-top: 35px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        p {
            text-align: center;
            @include content-italic
        }

        p:nth-child(2) {
            padding-top: 10px;
            padding-bottom: 41px;
        }

    }
}